In [5]:
print ("hello world")

hello world

In [9]:
if 5>2:
    print("Five is greater than two!")

Five is greater than two!

In [5]:
X=1458
y=35656222554887711
z=-3255522

print(type(X))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
x=1 int
y=2.8 float
z=1j complex
convert from into to float
a=float(X)
convert from float to int
b=int(y)
convert from int to complex

In [8]:
a="Festuskipruto"
print(len(a))

13

In [9]:
b="Hello,World"
s=b[2:5]
print(s)

llo

In [11]:
b="Hello,World"
s=(b[2:])
print(s)

llo,World

In [12]:
a="Hello,World"
B=a.upper()
print(B)

HELLO,WORLD

In [13]:
a="Hello,World"
B=a.replace("H","J")
print(B)

Jello,World

In [9]:
def school_age_calculator(age,name):
    if age < 5:
        print("Enjoy the time",name, "is only",age)
school_age_calculator(10,"Festus")

In [7]:
age=36
txt="My name is John,and I am {}"
D=txt.format(age)
print(D)

My name is John,and I am 36

In [19]:
quantity=3
itemno=567
price=49.95
myorder="I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity,itemno,price))

I want 3 pieces of item 567 for 49.95 dollars.

In [30]:
# Function to safely get a int input from the user
def get_num_input(prompt):
    while True:
        try:
            return int(input(prompt))
        except ValueError:
            print("Invalid input. Please enter a valid number.")

# Ask the user to input two numbers
num1 = get_float_input("Enter the first number: ")
num2 = get_float_input("Enter the second number: ")

# Perform calculations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2 if num2 != 0 else "Undefined (cannot divide by zero)"

# Output results
print(f"\nAddition: {addition}")
print(f"Subtraction: {subtraction}")
print(f"Multiplication: {multiplication}")
print(f"Division: {division}")

Invalid input. Please enter a valid number.
Invalid input. Please enter a valid number.

Addition: 11.0
Subtraction: -1.0
Multiplication: 30.0
Division: 0.8333333333333334

In [1]:
# Ask the user to input two numbers (a and b) in this case my input is a = 648,b = 56 as a user.
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

# calculations
addition = a + b
subtraction = a - b
multiplication = a * b
division = a / b if b != 0  else print ("Math Error (cannot divide by zero)")

# (a and b) answers.
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)

Addition: 1357
Subtraction: -357
Multiplication: 428500
Division: 0.5834305717619603

In [23]:
list=[1,2,3,4,5,6,7]
print(list[0])
print(list[1])
print(list[2])
print(list[3])
#Slicing the elrmrnt
print(list[:])
print(list[2:5])
print(list[1:6:2])
print(list[-1:-6])
list[2]=10;
print(list)
list[1:3]=[89,78]
print(list)
list[-1]=25
print(list)

1
2
3
4
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5]
[2, 4, 6]
[]
[1, 2, 10, 4, 5, 6, 7]
[1, 89, 78, 4, 5, 6, 7]
[1, 89, 78, 4, 5, 6, 25]

In [26]:
thislist=["porsche","Lexus","Hilux"]
thislist.append("911TurboS")
print(thislist)

['porsche', 'Lexus', 'Hilux', '911TurboS']

In [30]:
thislist=["porsche","Lexus","Hilux"]
thislist.insert(0,"911TurboS")
print(thislist)

['911TurboS', 'porsche', 'Lexus', 'Hilux']

In [31]:
thislist=["porsche","Lexus","Hilux"]
thislist.pop(1)
print(thislist)

['porsche', 'Hilux']

In [12]:
thislist=["porsche","Lexus","Hilux"]
thislist.remove("Hilux")
print(thislist)

['porsche', 'Lexus']

In [18]:

items = ["Porsche", "Nissan GTR", "Merc GLE 63", "Hilux GR", "Audi RS7", "LX 600"]

#Print the first three elements using slicing.
print( items[:3])

#Print the last two elements using slicing.
print(items[-2:])

#Slice the list to print every second item.
print(items[0:5:2])

#Slice the list to print the elements in reverse order.
print(items[::-1])

#Print a slice of the list that excludes the first two and the last two items.
print(items[2:-2])

#Replace the middle two elements with new items.
items[2:4] = ["Tesla Model S", "Ford Mustang"]
print(items)

#Use slicing to remove the first two elements of the list.
items = items[2:]
print(items)

#slicing with steps to print only the items at odd indices.
print(items[1::2])

#Slice with negative steps to extract elements starting from the second last item to the third item, in reverse order.
print(items[-2:1:-1])

['Porsche', 'Nissan GTR', 'Merc GLE 63']
['Audi RS7', 'LX 600']
['Porsche', 'Merc GLE 63', 'Audi RS7']
['LX 600', 'Audi RS7', 'Hilux GR', 'Merc GLE 63', 'Nissan GTR', 'Porsche']
['Merc GLE 63', 'Hilux GR']
['Porsche', 'Nissan GTR', 'Tesla Model S', 'Ford Mustang', 'Audi RS7', 'LX 600']
['Tesla Model S', 'Ford Mustang', 'Audi RS7', 'LX 600']
['Ford Mustang', 'LX 600']
['Audi RS7']

In [34]:

items = ["Porsche", "Nissan GTR", "Merc GLE 63", "Hilux GR", "Audi RS7", "LX 600"]

#Print the first three elements using slicing.
print(items[:3])

#Print the last two elements using slicing.
print(items[-2:])

#Slice the list to print every second item.
print(items[::2])

#Slice the list to print the elements in reverse order.
print(items[::-1])

#Print a slice of the list that excludes the first two and the last two items.
print(items[2:-2])

#Replace the middle two elements with new items.


#Use slicing to remove the first two elements of the list.


#slicing with steps to print only the items at odd indices.

#Slice with negative steps to extract elements starting from the second last item to the third item, in reverse order.

['Porsche', 'Nissan GTR', 'Merc GLE 63']
['Audi RS7', 'LX 600']
['Porsche', 'Merc GLE 63', 'Audi RS7']
['LX 600', 'Audi RS7', 'Hilux GR', 'Merc GLE 63', 'Nissan GTR', 'Porsche']
['Merc GLE 63', 'Hilux GR']

In [5]:
thistuple=("apple","banana","mango")
print(len(thistuple))

3

In [6]:
thistuple=("apple","banana","mango")
print(thistuple[1])

banana

In [7]:
thistuple=("apple","banana","mango")
print(thistuple[-1])

mango

In [8]:
thistuple=("apple","banana","cherry","orange","kiwi","melon","mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [9]:
thistuple=("apple","banana","cherry","orange","kiwi","melon","mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [13]:
thistuple=("apple","banana","cherry")
x=list(thistuple)
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [14]:
thistuple=("apple","banana","cherry")
y=list(thistuple)
y.append("orange")
print(y)

['apple', 'banana', 'cherry', 'orange']

In [23]:
thistuple=("apple","banana","cherry")
y=("orange",)
thistuple +=y
print(thistuple)
y=list(thistuple)
y.remove("orange")
print(y)

('apple', 'banana', 'cherry', 'orange')
['apple', 'banana', 'cherry']

In [26]:
thisset={"apple","banana","apple","cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [28]:
set1={"apple","banana","cherry"}
set2={1,2,3,4,5}

In [29]:
thisset={"apple","banana","cherry"}
for x in thisset:
    print(x)

banana
apple
cherry

In [31]:
thisset={"apple","banana","cherry"}
tropical={"pineaple","mango","papaya"}
thisset.update(tropical)
print(thisset)

{'mango', 'apple', 'pineaple', 'cherry', 'papaya', 'banana'}

In [33]:
thisset = {'mango', 'apple', 'pineaple', 'cherry', 'papaya', 'banana'}
tropical = {"pineaple", "mango", "papaya"}
thisset.difference_update(tropical)
print(thisset)

{'apple', 'cherry', 'banana'}

In [13]:
grades=[85,92,78,90,89,95,88,76,84,91]
total_grade=len(grades)
print(total_grade)
highest_grade=max(grades)
lowest_grade=min(grades)
print(highest_grade,lowest_grade)
avarage_grade=sum(grades)/total_grade
avarage_grade_round=round(avarage_grade,2)
print(avarage_grade_round)

10
95 76
86.8

In [12]:
# Step 1: Create the list of grades
grades = [85, 92, 78, 90, 89, 95, 88, 76, 84, 91]

# Step 2: Calculate the total number of grades
total_grade = len(grades)

# Step 3: Print the total number of grades
print("total number:", total_grade)

# Step 4: Calculate the highest and lowest grades
highest_grade = max(grades)
lowest_grade = min(grades)

# Step 5: Print the highest and lowest grades
print("Highest grade:", highest_grade)
print("Lowest grade:", lowest_grade)

# Step 6: Calculate the average grade
average_grade = sum(grades) / total_grade

# Step 7: Round the average grade to two decimal places
average_grade_rounded = round(average_grade, 2)

# Step 8: Print the average grade
print("Average grade :", average_grade_rounded)

total number: 10
Highest grade: 95
Lowest grade: 76
Average grade : 86.8

In [6]:
thisdict={
    "brand":"Porsche",
    "model":"911 turbo S",
    "year":2004,
    "year":2024
}
print(thisdict)

{'brand': 'Porsche', 'model': '911 turbo S', 'year': 2024}

In [13]:
Student={
    "name":"Shahid",
    "branch":"IT",
    "course":"Ph.D",
}
S=len(Student)
print(S);

3

In [14]:
thisdict={
    "brand":"ford",
    "electric":"false",
    "year":"1964",
}
print(thisdict)

{'brand': 'ford', 'electric': 'false', 'year': '1964'}

In [35]:
car={
    "brand":"ford",
    "model":"mustang",
    "year":1964
    }
    x=car.values()
    print(x)#before the change
    car["year"]=2020
    print(x)#after the change

IndentationError: unexpected indent (3486719641.py, line 6)

:

In [19]:
car = {
    "brand": "ford",
    "model": "mustang",
    "year": 1964
}

x = car.values()
print(x)  # before the change

car["year"] = 2020
print(x)  # after the change

x = car.values()  # updating x after the change
print(x)  # print the updated values

dict_values(['ford', 'mustang', 1964])
dict_values(['ford', 'mustang', 2020])
dict_values(['ford', 'mustang', 2020])

In [20]:
thisdict = {
    "brand": "ford",
    "model": "mustang",
    "year": 1964
}
print(thisdict)
thisdict.update({"year":2020})
print(thisdict.update)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}
<built-in method update of dict object at 0x00000163DA6A9A00>

In [22]:
thisdict = {
    "brand": "ford",
    "model": "mustang",
    "year": 1964
}
thisdict.pop("year")
print(thisdict)

{'brand': 'ford', 'model': 'mustang'}

In [25]:
thisdict = {
    "brand": "ford",
    "model": "mustang",
    "year": 1964
}
newdict=thisdict.copy()
print(newdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [26]:
thisdict = {
    "brand": "ford",
    "model": "mustang",
    "year": 1964
}
mydict=dict(thisdict)
print(mydict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [2]:
# Step 1: Create a dictionary with 5 unique items
item_inventory = {
    "apples": 50,
    "oranges": 30,
    "bananas": 20,
    "grapes": 40,
    "pears": 25
}

print(item_inventory)

{'apples': 50, 'oranges': 30, 'bananas': 20, 'grapes': 40, 'pears': 25}

In [8]:
# Step 1: Create a dictionary with 5 unique items (farm chemicals).
item_inventory = {
    "Basagran": 100,   # quantity in liters
    "Prosaro": 50,
    "Huskie": 70,
    "Ariane": 30,
    "Skyway": 60
}

print(item_inventory)
# Step 2: Add a new farm chemical (Trivapro)
item_inventory["Trivapro"] = 40

print(item_inventory)
# Step 3: Update the quantity of one item (Huskie)
item_inventory["Huskie"] = 90

print(item_inventory)
# Step 4: Delete an item (Ariane)
item_inventory.pop("Ariane")

print(item_inventory)

{'Basagran': 100, 'Prosaro': 50, 'Huskie': 70, 'Ariane': 30, 'Skyway': 60}
{'Basagran': 100, 'Prosaro': 50, 'Huskie': 70, 'Ariane': 30, 'Skyway': 60, 'Trivapro': 40}
{'Basagran': 100, 'Prosaro': 50, 'Huskie': 90, 'Ariane': 30, 'Skyway': 60, 'Trivapro': 40}
{'Basagran': 100, 'Prosaro': 50, 'Huskie': 90, 'Skyway': 60, 'Trivapro': 40}

In [1]:
5//2

2

In [8]:
a=33
b=200
if b>a:
    print("b is greater than a")

b is greater than a

In [15]:
a=33
b=33
if b>a:
    print("b is greater than a")
elif a==b:
 print("a and b are equal")

a and b are equal

In [19]:
a=400
b=10
if a>b: print("a is greater than b")

a is greater than b

In [20]:
a=2
b=330
print("A") if a>b else print("B")

B

In [23]:
a=330
b=330
print("A")if a>b else print("=") if a==b else print("B")

=

In [26]:
a=200
b=33
c=500
if a>b and c>a:
    print("both conditions are true")

both conditions are true

In [32]:
x=41
if x>10:
    print("Above ten,")
    if x>20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

In [37]:
num=float(input("Enter a number:"))
if num>=0:
    if num==0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Negative number

In [38]:
a=33
b=200
if b>a:
    pass

In [41]:
list=[4,3,5,6,7]
if list[0]>list[1]:
    print("sucess")
else:
    print("hello")

sucess

In [6]:
x = 50
y = 100

if x == 100:  # this is the condition you may have intended
    y = 50
    print(f"x: {x}, y: {y}")

In [1]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

number = int(input("Enter a number: "))
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

30 is not a prime number.

In [2]:
def find_minimum(numbers):
    return min(numbers)

numbers = list(map(int, input("Enter integers separated by space: ").split()))
print(f"The minimum number is: {find_minimum(numbers)}")

The minimum number is: 2

In [3]:
def sum_of_squares(n):
    return sum(i ** 2 for i in range(1, n + 1))

N = int(input("Enter a number: "))
print(f"The sum of squares from 1 to {N} is: {sum_of_squares(N)}")

The sum of squares from 1 to 30 is: 9455

In [4]:
student_scores = {
    'John': 85,
    'Alice': 95,
    'Bob': 78,
    'Mary': 88
}

max_score = max(student_scores.values())
top_student = [name for name, score in student_scores.items() if score == max_score]

print(f"The top student is {top_student[0]} with a score of {max_score}")

The top student is Alice with a score of 95

In [ ]:
def is_prime(n):
    # Step 1: Check if the number is less than or equal to 1
    if n <= 1:
        return False  # Numbers less than or equal to 1 are not prime
    
    # Step 2: Check for factors from 2 to the square root of n
    for i in range(2, int(n**0.5) + 1):
        # Step 3: If n is divisible by i, then it's not prime
        if n % i == 0:
            return False
    
    # Step 4: If no factors were found, n is prime
    return True

In [ ]:
def find_minimum(numbers):
    # Step 1: Use the built-in min function to find the minimum number
    return min(numbers)  # Returns the smallest number in the list

In [ ]:
def sum_of_squares(numbers):
    # Step 1: Initialize a variable to hold the sum
    total = 0  
    
    # Step 2: Loop through each number in the list
    for x in numbers:
        # Step 3: Square the number and add it to total
        total += x ** 2  
    
    # Step 4: Return the final sum of squares
    return total

In [ ]:
# Step 1: Create an empty dictionary
my_dict = {}

# Step 2: Add a key-value pair to the dictionary
my_dict['key'] = 'value'  # 'key' is the identifier, and 'value' is the associated value

# You can print the dictionary to see the result
print(my_dict)  # Output: {'key': 'value'}

In [1]:
x = int(input("Enter a number: "))  # Input from the user
if x > 1:
    for i in range(2, x):
        if x % i == 0:
            print("Not Prime")
            break
    else:
        print("Prime")
else:
    print("Not Prime")

Not Prime

:

In [ ]:
a = [4, 6, 2, 8, 1]  # Example list of integers
min_num = a[0]  # Assume the first element is the smallest
for x in a:
    if x < min_num:
        min_num = x
print("Minimum number is", min_num)

In [ ]:
y = int(input("Enter a number: "))  # Input from the user
sum_squares = 0
for x in range(1, y + 1):
    sum_squares += x * x  # Add the square of the current number
print("Sum of squares is", sum_squares)

In [ ]:
my_dict = {"a": 1, "b": 2, "c": 3}  # A simple dictionary
key = input("Enter a key: ")  # Get input from the user
if key in my_dict:
    print("Value:", my_dict[key])
else:
    print("Key not found")

In [4]:
i=1
while i<6:
print(i)
i+= 1

IndentationError: expected an indented block after 'while' statement on line 2 (2784779556.py, line 3)

In [5]:
i=1
while i<6:
    print(i)
    i+=1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [8]:
list=[4,3,5,6,7]
s=5
i=0
while i<len(list):
 if list[i]==s:
    print('found sucessfuly',list[i])
    break 
 i+=1
else:
 print("no match")

found sucessfuly 5

In [10]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [11]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)
    if x=="banana":
        break

apple
banana

In [12]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)
    if x=="banana":
        break
    print(x)

apple
apple
banana

In [13]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)
    if x=="banana":
        continue
    print(x)

apple
apple
banana
cherry
cherry

In [14]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [15]:
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [16]:
adj=["red","big","tasty"]
fruit=["apple","banana","cherry"]
for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [21]:
#A simple python function
def fun():
    print("Welcome to GFG")
    #Drive code to call a function
fun()

Welcome to GFG

In [29]:
def evenOdd(x=10):
    if(x % 2 == 0):
        print("even")
    else:
        print("odd")

In [33]:
def square_value(num):
    """This function returns the square value of the entered number"""
    return num**2
print(square_value(2))
print(square_value(-4))

4
16

In [36]:
def my_function(food):
    for x in food:
        print(x)

fruits=["apple","banana","cherry"]
my_function(fruits)

apple
banana
cherry

In [ ]:
#function that takes three numbers.
def max_of_three(a,b,c):
    if a>=b and a>=c:
        return a
    elif b>=a and b>=c:
        return b
    else:
        return c

#test function.
def test_max_of_three():
    if max_of_three(3,7,5)==7:
        print("True")
    else:
        print("False")
        if max_of_three(10,10,5)==10:
            print("True")
        else:
            print("False")

#function to check if a function is a palindrome.

In [9]:
file1=open("my name is.txt","a")
file1.write("\n Festus Kipruto")
file1.close()

In [10]:
f=open("my name is.txt","r")
print(f.read(5))

my na

In [6]:
f=open("my name is.txt","r")
print(f.readline())

my name is

In [3]:
import csv
with open("Book.csv") as csvfile:
    m=list(csv.DictReader(csvfile))
    print(m[:3])

[{'Name': 'Festus', 'Major': 'DSA', 'Height': '1.69', 'GPA': '3.5', 'Age': '20'}, {'Name': 'Collins', 'Major': 'MBA', 'Height': '1.64', 'GPA': '2.6', 'Age': '25'}, {'Name': 'Dennis', 'Major': 'ICT', 'Height': '1.65', 'GPA': '2.7', 'Age': '19'}]

In [5]:
import csv
with open("Book.csv") as csvfile:
    m=list(csv.reader(csvfile))
    print(m[:3])

[['Name', 'Major', 'Height', 'GPA', 'Age'], ['Festus', 'DSA', '1.69', '3.5', '20'], ['Collins', 'MBA', '1.64', '2.6', '25']]

In [13]:
import csv
with open("Book.csv","a",newline="") as csvfile:
    fieldnames=["Name","Major","Height","GPA","Age"]
    writer=csv.DictWriter(csvfile,fieldnames=fieldnames)
    writer.writeheader()
    writer.writerow({"Name":"Kipruto","Major":"DSA","Height":"1.79","GPA":"4.0","Age":"23"})

In [14]:
import csv
f=open("Book.csv")
csv_f=csv.reader(f)
for row in csv_f:
    print(row[2])

Height
1.79
Height
1.79

In [1]:
# Step 1: Data File Creation and Writing
def create_student_file():
    with open("students.txt", "w") as file:
        file.write("Festus,001,92\n")
        file.write("Dennis,002,76\n")
        file.write("Amon,003,68\n")
        file.write("Walter,004,45\n")
        file.write("Ryan,005,88\n")

# Step 2: Reading and Processing Data
def read_and_process_student_data():
    with open("students.txt", "r") as file:
        total_marks = 0
        student_count = 0
        student_data = []

        for line in file:
            name, roll_number, marks = line.strip().split(",")
            marks = int(marks)
            total_marks += marks
            student_count += 1

            # Determine remark based on marks
            if marks >= 85:
                remark = "Distinction"
            elif marks >= 70:
                remark = "Merit"
            elif marks >= 50:
                remark = "Pass"
            else:
                remark = "Fail"

            # Store updated data for file writing
            student_data.append(f"{name},{roll_number},{marks},{remark}")
            print(f"{name}, Roll: {roll_number}, Marks: {marks}, Remark: {remark}")

        # Calculate and display average marks
        average_marks = total_marks / student_count if student_count else 0
        print(f"\nAverage Marks: {average_marks:.2f}")
        
    return student_data, average_marks

# Step 3: Updating the File with Remarks
def update_student_file_with_remarks(student_data):
    with open("students.txt", "w") as file:
        for line in student_data:
            file.write(line + "\n")

# Optional Bonus: Writing Summary File
def write_summary_file(student_data, average_marks):
    distinction = merit = pass_count = fail = 0
    for record in student_data:
        remark = record.split(",")[-1]
        if remark == "Distinction":
            distinction += 1
        elif remark == "Merit":
            merit += 1
        elif remark == "Pass":
            pass_count += 1
        else:
            fail += 1

    with open("summary.txt", "w") as file:
        file.write(f"Total Students: {len(student_data)}\n")
        file.write(f"Distinction: {distinction}\n")
        file.write(f"Merit: {merit}\n")
        file.write(f"Pass: {pass_count}\n")
        file.write(f"Fail: {fail}\n")
        file.write(f"Average Marks: {average_marks:.2f}\n")

# Main function to call all steps in order
def main():
    create_student_file()  # Step 1
    student_data, average_marks = read_and_process_student_data()  # Step 2
    update_student_file_with_remarks(student_data)  # Step 3
    write_summary_file(student_data, average_marks)  # Optional Bonus

# Execute main function
main()

Festus, Roll: 001, Marks: 92, Remark: Distinction
Dennis, Roll: 002, Marks: 76, Remark: Merit
Amon, Roll: 003, Marks: 68, Remark: Pass
Walter, Roll: 004, Marks: 45, Remark: Fail
Ryan, Roll: 005, Marks: 88, Remark: Distinction

Average Marks: 73.80

In [12]:
# reading and proccessing data
def process_student_data():
    with open("students.txt", "r") as file:
        total_marks = 0
        student_count = 0
        student_data = []

        for line in file:
            name, roll_number, marks = line.strip().split(",")
            marks = int(marks)
            total_marks += marks
            student_count += 1

            # remarks based on marks
            if marks >= 85:
                remark = "Distinction"
            elif marks >= 70:
                remark = "Merit"
            elif marks >= 50:
                remark = "Pass"
            else:
                remark = "Fail"

            # store udated data for file writing
            student_data.append(f"{name},{roll_number},{marks},{remark}")
            print(f"{name}, Roll: {roll_number}, Marks: {marks}, Remark: {remark}")

        # calculating and displaying avarage marks
        average_marks = total_marks / student_count if student_count > 0 else 0
        print(f"\nAvarage Marks: {average_marks:.2f}")
        
    return student_data, average_marks

# updating the file with remarks
def update_student_file(student_data):
    with open("students.txt", "w") as file:
        for line in student_data:
            file.write(line + "\n")

# main function
def main():
    student_data, average_marks = process_student_data()
    update_student_file(student_data)

main()

Festus, Roll: 001, Marks: 92, Remark: Distinction
Dennis, Roll: 002, Marks: 76, Remark: Merit
Amon, Roll: 003, Marks: 68, Remark: Pass
Walter, Roll: 004, Marks: 45, Remark: Fail
Ryan, Roll: 005, Marks: 88, Remark: Distinction

Avarage Marks: 73.80

In [ ]:
# Summery: Reading and Processing Data
def process_student_data():
    with open("students.txt", "r") as file:
        total_marks = 0
        student_count = 0
        student_data = []
        remark_counts = {
            "Distinction": 0,
            "Credit": 0,
            "Pass": 0,
            "Fail": 0
        }

        # Read and process each line
        for line in file:
            parts = line.strip().split(",")
            if len(parts) != 3:  # Check if there are exactly 3 parts
                print(f"Skipping invalid line: {line.strip()}")
                continue
            
            name, roll_number, marks = parts
            marks = int(marks)
            total_marks += marks
            student_count += 1

            # Assign remark based on marks
            if marks >= 85:
                remark = "Distinction"
                remark_counts["Distinction"] += 1
            elif marks >= 70:
                remark = "Credit"
                remark_counts["Credit"] += 1
            elif marks >= 50:
                remark = "Pass"
                remark_counts["Pass"] += 1
            else:
                remark = "Fail"
                remark_counts["Fail"] += 1

            # Store updated data with remarks
            student_data.append(f"{name},{roll_number},{marks},{remark}")
            print(f"{name}, Roll: {roll_number}, Marks: {marks}, Remark: {remark}")

        # Calculate average marks
        average_marks = total_marks / student_count if student_count > 0 else 0
        print(f"\nAverage Marks: {average_marks:.2f}")

    return student_data, average_marks, remark_counts

# Step 2: Updating the File with Remarks
def update_student_file(student_data):
    with open("students.txt", "w") as file:
        for line in student_data:
            file.write(line + "\n")

# Step 3: Writing Summary to File
def write_summary(remark_counts, average_marks, student_count):
    with open("summary.txt", "w") as summary_file:
        summary_file.write("Summary of Students:\n")
        summary_file.write(f"Total Students: {student_count}\n")
        summary_file.write(f"Distinction: {remark_counts['Distinction']}\n")
        summary_file.write(f"Credit: {remark_counts['Credit']}\n")
        summary_file.write(f"Pass: {remark_counts['Pass']}\n")
        summary_file.write(f"Fail: {remark_counts['Fail']}\n")
        summary_file.write(f"Average Marks: {average_marks:.2f}\n")

# Main function 
def main():
    student_data, average_marks, remark_counts = process_student_data()  # Read data
    update_student_file(student_data)  # Write new remarks
    write_summary(remark_counts, average_marks, len(student_data))  # Write summary

# Execute the program
main()

Festus, Roll: 001, Marks: 92, Remark: Distinction
Dennis, Roll: 002, Marks: 76, Remark: Credit
Amon, Roll: 003, Marks: 68, Remark: Pass
Walter, Roll: 004, Marks: 45, Remark: Fail
Ryan, Roll: 005, Marks: 88, Remark: Distinction

Average Marks: 73.80

In [10]:
import pandas as pd 
names=['Festus','Albert','Ruto']
pd.Series(names)

0    Festus
1    Albert
2      Ruto
dtype: object

In [12]:
books={'science':'ram','maths':'goel','automata':'kracs'}
s=pd.Series(books)
s.index

Index(['science', 'maths', 'automata'], dtype='object')

In [13]:
import pandas as pd
names=['Festus','Albert','Ruto']
s=pd.Series(names,index=['student_1','student_2','student_3'])
s.iloc[2]

'Ruto'

In [21]:

dates=pd.date_range('20010322',periods=6)
dates
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2001-03-22 -0.755996 -0.104588  0.672995  0.874760
2001-03-23  1.350417  1.746711 -0.200557  0.974948
2001-03-24 -2.008793  0.226061 -0.577165 -0.183061
2001-03-25 -1.397858 -0.081465 -0.634814 -0.824863
2001-03-26 -0.042491 -0.025375 -0.796995  1.487640
2001-03-27 -1.222875  0.184149  1.241400  0.363133

In [ ]:
import numpy as np
df2=pd.DataFrame({'A':1.,
                  'B':pd.Timestamp('20010322'),
                  'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                  'D':np.array([3]*4,dtype='int32'),
                  'E':pd.Categorical(["test","train","test","train"]),
                  'F':'foo'})
df2

     A          B    C  D      E    F
0  1.0 2001-03-22  1.0  3   test  foo
1  1.0 2001-03-22  1.0  3  train  foo
2  1.0 2001-03-22  1.0  3   test  foo
3  1.0 2001-03-22  1.0  3  train  foo

In [2]:
print("Hello"*3)

HelloHelloHello

In [4]:
x=5
y=3
print(x%y)

2

In [2]:
x="123"
y="".join(sorted(x,reverse=True))
print(x==y)

False

In [9]:
#importing data
import pandas as pd
data = pd.read_csv('House_Data.csv')
print(data.head())

           ADDRESS      SUBURB   PRICE  BEDROOMS  BATHROOMS  GARAGE  \
0    1 Acorn Place  South Lake  565000         4          2     2.0
1      1 Addis Way       Wandi  365000         3          2     2.0
2  1 Ainsley Court     Camillo  287000         3          1     1.0
3  1 Albert Street    Bellevue  255000         2          1     2.0
4     1 Aman Place   Lockridge  325000         4          1     2.0

   LAND_AREA  FLOOR_AREA  BUILD_YEAR  CBD_DIST               NEAREST_STN  \
0        600         160      2003.0     18300  Cockburn Central Station
1        351         139      2013.0     26900           Kwinana Station
2        719          86      1979.0     22600           Challis Station
3        651          59      1953.0     17900           Midland Station
4        466         131      1998.0     11200        Bassendean Station

   NEAREST_STN_DIST  DATE_SOLD  POSTCODE   LATITUDE   LONGITUDE  \
0              1800  09-2018\r      6164 -32.115900  115.842450
1              4900  02-2019\r      6167 -32.193470  115.859554
2              1900  06-2015\r      6111 -32.120578  115.993579
3              3600  07-2018\r      6056 -31.900547  116.038009
4              2000  11-2016\r      6054 -31.885790  115.947780

                    NEAREST_SCH  NEAREST_SCH_DIST  NEAREST_SCH_RANK
0   LAKELAND SENIOR HIGH SCHOOL          0.828339               NaN
1                ATWELL COLLEGE          5.524324             129.0
2  KELMSCOTT SENIOR HIGH SCHOOL          1.649178             113.0
3  SWAN VIEW SENIOR HIGH SCHOOL          1.571401               NaN
4                 KIARA COLLEGE          1.514922               NaN

In [4]:
def process_House_Data():
    with open("House_Data", "r") as file:
        print(House_Data)

In [1]:
import pandas as pd
data = pd.read_csv('Phone_Dataset.csv')
print(data.head())

   User ID    Device Model Operating System  App Usage Time (min/day)  \
0        1  Google Pixel 5          Android                       393
1        2       OnePlus 9          Android                       268
2        3    Xiaomi Mi 11          Android                       154
3        4  Google Pixel 5          Android                       239
4        5       iPhone 12              iOS                       187

   Screen On Time (hours/day)  Battery Drain (mAh/day)  \
0                         6.4                     1872
1                         4.7                     1331
2                         4.0                      761
3                         4.8                     1676
4                         4.3                     1367

   Number of Apps Installed  Data Usage (MB/day)  Age  Gender  \
0                        67                 1122   40    Male
1                        42                  944   47  Female
2                        32                  322   42    Male
3                        56                  871   20    Male
4                        58                  988   31  Female

   User Behavior Class
0                    4
1                    3
2                    2
3                    3
4                    3